In [1]:
print("Hello from jupyter")

hello from jupyter

In [2]:
my_str="aya"
my_int=20
print(my_str)
print(my_int)

aya
20

In [3]:
my_str

'aya'

In [9]:
no_of_app=5
if no_of_app<1:
    print("you dont have any apple")
elif no_of_app==1:
    print("you  have one apple")
elif no_of_app<4:
    print("you  have few  apple")
else:
    print("you  have many apple")

you  have many apple

In [13]:
name=["aya","vardia","omar","ayla"]
name[3]

'ayla'

In [14]:
name[-1]

'ayla'

In [17]:
name[0:4]

['aya', 'vardia', 'omar', 'ayla']

In [19]:
name[:4]

['aya', 'vardia', 'omar', 'ayla']

In [27]:
name.append("sela")
name.append("sela")

In [28]:
name

['aya', 'vardia', 'Xavier', 'ayla', 'sela', 'sela', 'sela']

In [22]:
name.insert(2, 'Xavier')

In [26]:
name

['aya', 'vardia', 'Xavier', 'ayla', 'sela']

In [25]:
del name[3]

In [32]:
long_name=[]
for item in name:
    if len(item)>4:
        long_name.append(item)
long_name

['vardia', 'Xavier']

In [33]:
pairs=[]
for item_0 in name:
    for item_1 in name:
        pairs.append((item_0,item_1))
pairs

[('aya', 'aya'),
 ('aya', 'vardia'),
 ('aya', 'Xavier'),
 ('aya', 'ayla'),
 ('aya', 'sela'),
 ('aya', 'sela'),
 ('aya', 'sela'),
 ('vardia', 'aya'),
 ('vardia', 'vardia'),
 ('vardia', 'Xavier'),
 ('vardia', 'ayla'),
 ('vardia', 'sela'),
 ('vardia', 'sela'),
 ('vardia', 'sela'),
 ('Xavier', 'aya'),
 ('Xavier', 'vardia'),
 ('Xavier', 'Xavier'),
 ('Xavier', 'ayla'),
 ('Xavier', 'sela'),
 ('Xavier', 'sela'),
 ('Xavier', 'sela'),
 ('ayla', 'aya'),
 ('ayla', 'vardia'),
 ('ayla', 'Xavier'),
 ('ayla', 'ayla'),
 ('ayla', 'sela'),
 ('ayla', 'sela'),
 ('ayla', 'sela'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla'),
 ('sela', 'sela'),
 ('sela', 'sela'),
 ('sela', 'sela'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla'),
 ('sela', 'sela'),
 ('sela', 'sela'),
 ('sela', 'sela'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla'),
 ('sela', 'sela'),
 ('sela', 'sela'),
 ('sela', 'sela')]

In [34]:
pairs=[]
for item_0 in name:
    for item_1 in name:
        if item_0 != item_1:
                    pairs.append((item_0,item_1))

pairs

[('aya', 'vardia'),
 ('aya', 'Xavier'),
 ('aya', 'ayla'),
 ('aya', 'sela'),
 ('aya', 'sela'),
 ('aya', 'sela'),
 ('vardia', 'aya'),
 ('vardia', 'Xavier'),
 ('vardia', 'ayla'),
 ('vardia', 'sela'),
 ('vardia', 'sela'),
 ('vardia', 'sela'),
 ('Xavier', 'aya'),
 ('Xavier', 'vardia'),
 ('Xavier', 'ayla'),
 ('Xavier', 'sela'),
 ('Xavier', 'sela'),
 ('Xavier', 'sela'),
 ('ayla', 'aya'),
 ('ayla', 'vardia'),
 ('ayla', 'Xavier'),
 ('ayla', 'sela'),
 ('ayla', 'sela'),
 ('ayla', 'sela'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla'),
 ('sela', 'aya'),
 ('sela', 'vardia'),
 ('sela', 'Xavier'),
 ('sela', 'ayla')]

In [35]:
student_grade=("ayla","math","A")
student_grade

('ayla', 'math', 'A')

In [36]:
student_grade.append("aya")

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
student_grade[2]="aya"

TypeError: 'tuple' object does not support item assignment

In [38]:
del student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
s_grade=("ayla","math","A")
s_name,s_supject,grade=s_grade
print(s_name)
print(s_supject)
print(grade)

ayla
math
A

In [16]:
s_grades = [
    ('ayla', 'Spanish', 'A'),
    ('aya', 'French', 'C'),
    ('vardia', 'Italian', 'B+'),
    ('sela', 'Italian', 'A-'),
]
for s_name,supject,grade in s_grades:
    if grade.startswith('A'):
        print("congratulation ",s_name,"on getting ",grade,"in",supject)

congratulation  ayla on getting  A in Spanish
congratulation  sela on getting  A- in Italian

In [46]:
for student_grade in s_grades:
    if student_grade[2].startswith('A'):
        print("congratulation",student_grade[0],"on get",student_grade[2],"in",student_grade[1])

congratulation ayla on get A in Spanish
congratulation sela on get A- in Italian

In [1]:
f_language={
    'ayla':'spanish',
    'aya':'french',
    'vardia':'italian',
    'sela':'italian'
}
f_language['ayla']

'spanish'

In [2]:
f_language['v']

KeyError: 'v'

In [4]:
'v' in f_language

False

In [5]:
'ayla'in f_language

True

In [7]:
f_language['bob']="korean"
f_language

{'ayla': 'spanish',
 'aya': 'french',
 'vardia': 'italian',
 'sela': 'italian',
 'bob': 'korean'}

In [8]:
f_language['zeki']="korean"
f_language

{'ayla': 'spanish',
 'aya': 'french',
 'vardia': 'italian',
 'sela': 'italian',
 'bob': 'korean',
 'zeki': 'korean'}

In [9]:
del f_language['bob']
f_language

{'ayla': 'spanish',
 'aya': 'french',
 'vardia': 'italian',
 'sela': 'italian',
 'zeki': 'korean'}

In [10]:
f_language['ayla']="korean"
f_language

{'ayla': 'korean',
 'aya': 'french',
 'vardia': 'italian',
 'sela': 'italian',
 'zeki': 'korean'}

In [11]:
for key in f_language:
    value=f_language[key]
    print(key, "is taking",value)

ayla is taking korean
aya is taking french
vardia is taking italian
sela is taking italian
zeki is taking korean

In [13]:
for key,value in f_language.items():
    print(key,"is taking",value)

ayla is taking korean
aya is taking french
vardia is taking italian
sela is taking italian
zeki is taking korean

In [14]:
record={
    'name':'ayla',
    'subject':'korean',
    'grade':'A'
}
print(record['name'],"got grade",record['grade'],"in ",record['subject'])

ayla got grade A in  korean

In [17]:
s_grades[1][2]

'C'

In [20]:
s_grade_record=[]
for s_name,subject,grade in s_grades:
    record1={
        'name':s_name,
        'subject':subject,
        'grade':grade
    }
    s_grade_record.append(record)
s_grade_record

[{'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'}]

In [21]:
s_grade_record[1]

{'name': 'ayla', 'subject': 'korean', 'grade': 'A'}

In [22]:
s_grade_record[1]['grade']

'A'

In [34]:
for record in s_grade_record:
    if record['grade'].startswith('A'):
               print("congratulation ",record['name'],"on getting ",record['grade'],"in",record['subject'])

congratulation  ayla on getting  A in korean
congratulation  ayla on getting  A in korean
congratulation  ayla on getting  A in korean
congratulation  ayla on getting  A in korean

In [33]:
s_grade_record

[{'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'},
 {'name': 'ayla', 'subject': 'korean', 'grade': 'A'}]

In [38]:
f_language_grades = {}
for student_name, subject, grade in s_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    f_language_grades[student_name] = record
    
f_language_grades

{'ayla': {'subject': 'Spanish', 'grade': 'A'},
 'aya': {'subject': 'French', 'grade': 'C'},
 'vardia': {'subject': 'Italian', 'grade': 'B+'},
 'sela': {'subject': 'Italian', 'grade': 'A-'}}

In [39]:
f_language_grades['sela']

{'subject': 'Italian', 'grade': 'A-'}

In [40]:
f_language_grades['sela']['grade']

'A-'

In [41]:
student_course_grades = {}
for student_name, subject, grade in s_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('ayla', 'Spanish'): 'A',
 ('aya', 'French'): 'C',
 ('vardia', 'Italian'): 'B+',
 ('sela', 'Italian'): 'A-'}

In [42]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'

In [43]:
student_course_grades

{('ayla', 'Spanish'): 'A',
 ('aya', 'French'): 'C',
 ('vardia', 'Italian'): 'B+',
 ('sela', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [44]:
student_report_cards = {}
for student_name, subject, grade in s_grades:
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade
student_report_cards

{'ayla': {'Spanish': 'A'},
 'aya': {'French': 'C'},
 'vardia': {'Italian': 'B+'},
 'sela': {'Italian': 'A-'}}

In [46]:
student_report_cards['sela']['Math'] = 'A'
student_report_cards['ayla']['History'] = 'B'
student_report_cards

{'ayla': {'Spanish': 'A', 'History': 'B'},
 'aya': {'French': 'C'},
 'vardia': {'Italian': 'B+'},
 'sela': {'Italian': 'A-', 'Math': 'A'}}

In [48]:
student_report_cards['ayla']

{'Spanish': 'A', 'History': 'B'}